{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('https://www.freeiconspng.com/uploads/red-sign-up-now-button-png-1.png');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="/user">Home <i class="fa fa-chevron-right"></i></a></span> <span>Registration Page<i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-0 bread">Profile Updation</h1>
          </div>
        </div>
      </div>
    </section>
		
		<!-- <section class="ftco-section bg-light"> -->
			<!-- <div class="container"> -->
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row mb-5">
								<div class="col-md-3">
									<div class="dbox w-100 text-center">
				        		
				        		<div class="text">
					          </div>
				          </div>
								</div>
								
								</div>
								
				          
								</div>
								
				          </div>
								</div>
							</div>
							<div class="row no-gutters">
								<div class="col-md-7">
									<div class="contact-wrap w-100 p-md-5 p-4">
										<h3 class="mb-4">Update your Profile</h3>
										<div id="form-message-warning" class="mb-4"></div> 
					      		
										<form method="POST" id="contactForm" name="contactForm" class="contactForm">
											{% csrf_token %}
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="label" for="name">Full Name</label>
														<input disabled="true" type="text" class="form-control" name="name" id="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = ''" autocomplete="off" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" required>
													</div>
												</div>
												<!-- <div class="col-md-6"> 
													<div class="form-group">
														<label class="label" for="email">Email Address</label>
														<input type="email" class="form-control" name="email" id="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required>
													</div>
												</div> -->
												<div class="col-md-12">
													<div class="form-group">
														<label class="label" for="subject">Contact Number</label>
														<input value="{{upd.number}}" type="number" class="form-control" name="number" id="number" placeholder="Contact Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" pattern="[6-9]{1}[0-9]{5}[0-9]{4}" title="Enter 10 digit number" required>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="label" for="address">Address</label>
														<input value="{{upd.address}}" type="text" class="form-control" name="address" id="myInput" placeholder="Address" onblur="validateInput()">
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="label" for="district">District</label>

														<select id="district" name="district" class="form-control px-3 py-6" required>
															<option value="" disabled selected>Select District</option>
															
															<option value="Trivandrum">Trivandrum</option>
															<option value="Kollam">Kollam</option>
															<option value="Pathanamthitta">Pathanamthitta</option>
															<option value="Alappuzha">Alappuzha</option>
															<option value="Kottayam">Kottayam</option>
															<option value="Idukki">Idukki</option>
															<option value="Ernakulam">Ernakulam</option>
															<option value="Thrissur">Thrissur</option>
															<option value="Palakkad">Palakkad</option>
															<option value="Malappuram">Malappuram</option>
															<option value="Kozhikode">Kozhikode</option>
															<option value="Wayanad">Wayanad</option>
															<option value="Kannur">Kannur</option>
															<option value="Kasaragod">Kasaragod</option>
												
															<!-- Add more options as needed -->
														  </select>
													</div>
												</div>
												<!-- <div class="col-md-12">
													<div class="form-group">
														<label class="label" for="address">Password</label>
														<input type="password" class="form-control" name="password" id="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" pattern=".{8,}" title="Eight or more characters" required>
													</div>
												</div> -->
												<div class="col-md-12">
													<div class="form-group">
														<input type="submit" value="Update Here" class="btn btn-primary">
														<div class="submitting"></div>
													</div>
												</div>
												
											</div>
										</form>
									</div>
								</div>
								<div class="col-md-5 d-flex align-items-stretch">
									<div class="info-wrap w-100 p-5 img" style="background-image: url({% static 'images/about.jpg' %});">
				          </div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>

        <script>
            function validateInput() {
                var input = document.getElementById('myInput');
                if (input.value.trim() !== input.value) {
                    alert('Leading white space is not allowed!');
                    input.value = input.value.trim(); // Remove leading white space
                    input.focus(); // Set focus back to the input field
                }
            }
          </script>
    
	{% endblock %}

  